.container-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.wrapp-tasks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-search {
    width: 50%;
}

.container-status {
    display: flex;
    justify-content: space-around;
    width: 69%;
    padding: 40px;
    flex-wrap: wrap;
}

.add-task {
    padding-left: 70%;
}
