.wrapp-users {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px 98px 0px 98px;
}

.container-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.container-search {
    width: 50%;
}
